*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #08005d;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    color: white;
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Icon{
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.Icon img{
    width: 150%;
    height: 100%;
    object-fit: contain;
}

.Contact{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 42px;
    right: 95px;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.Contact:hover{
    color: cyan;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
    background-color: rgba(128, 128, 128, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.Projects{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 42px;
    right: 170px;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.Projects:hover{
    color: cyan;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
    background-color: rgba(128, 128, 128, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.Skills{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 42px;
    right: 250px;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.Skills:hover{
    color: cyan;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
    background-color: rgba(128, 128, 128, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.Achievement{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 42px;
    right: 310px;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.Achievement:hover{
    color: cyan;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
    background-color: rgba(128, 128, 128, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.About{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 42px;
    right: 425px;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.About:hover{
    color: cyan;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
    background-color: rgba(128, 128, 128, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.home-icon{
    position: fixed;
    top: 38px;
    left: 20px;
    z-index: 1000;
}

.home-icon img{
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
}

.Int h3{
    font-size: 50px;
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px white;
    top: 150px;
    left: 80px;
    position: fixed;
}

.Fname{
    color: white;
    top: 250px;
    left: 160px;
    position: fixed;
    text-shadow: 0 0 15px white, 0 0 30px white;
    font-size: 80px;
}

.Sname{
    color: white;
    top: 340px;
    left: 160px;
    position: fixed;
    text-shadow: 0 0 15px white, 0 0 30px white;
    font-size: 80px;
}

.Course{
    color: white;
    top: 450px;
    left: 120px;
    position: fixed;
    text-shadow: 0 0 15px white, 0 0 30px white;
    font-size: 40px;
}

.Dec{
    top: 500px;
    left: 120px;
    position: fixed;
    color: white;
    font-size: 20px;
}

.btn{
    position: absolute;
    bottom: 40px;
    left: 150px;
    transform: translateX(-50%);
    display: inline-block;
    padding: 14px 35px;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.4s ease;
    box-shadow: 0 0 15px #00ff66;
}

.btn:hover{
    background: white;
    color: black;
    box-shadow: 0 0 25px white;
}

.Picture img{
    width: 500px;
    height: 500px;
    border-radius: 15%;
    border: 4px solid #01f5ed;
    box-shadow: 0 0 10px #01f5ed,
                0 0 20px #01f5ed,
                0 0 30px #01f5ed;
    right: 50px;
    position: fixed;
    top: 150px;
}

.mobile-menu{
    display: none;
}

.AContainer{
    width: 500px;
    height: 500px;
    background: transparent;
    border: 4px solid cyan;
    border-radius: 15%;
    box-shadow: 0, 0, 10px cyan,
                0, 0, 20px cyan,
                0, 0, 30px cyan;
    position: fixed;
    left: 40px;
}

.AContainer p{
    text-align: justify;
    line-height: 1.8;
    width: 450px;
    left: 60px;
    position: fixed;
    text-indent: 40px;
    font-weight: bold;
    font-size: 1.8;
    padding: 20px;
    color: white;
}

.AContainer h4{
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
}

.AEducation{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    top: 60px;
    right: 720px;
    position: fixed;
}

.Elementary{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    top: 120px;
    right: 710px;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.Elementary img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 25px;
    display: block;
}

.OElementary{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 25px;
    text-shadow: 2px 2px 5px black ;
}

.JuniorHigh{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    top: 120px;
    right: 480px;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.JuniorHigh img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.OJunior{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 25px;
    text-shadow: 2px 2px 5px black ;
}

.SeniorHigh{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    top: 120px;
    right: 250px;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.SeniorHigh img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.OSenior{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 25px;
    text-shadow: 2px 2px 5px black ;
}

.College{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    top: 120px;
    right: 20px;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.College img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.OCollege{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 25px;
    text-shadow: 2px 2px 5px black ;
}

.AHobbies{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    top: 400px;
    right: 820px;
    position: fixed;
}

.Sports{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    bottom: 80px;
    right: 710px;
    overflow: hidden;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.Sports img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

.OSports{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-weight: bold;
    opacity: 0;
    transition: .3s;
    font-size: 50px;
    -webkit-text-stroke: 2px black;
}

.Sports:hover, .OSports{
    opacity: 1;
}

.VideoGames{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    bottom: 80px;
    right: 480px;
    overflow: hidden;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.VideoGames img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    display: block;
}

.OVid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 50px;
    -webkit-text-stroke: 2px white;
}

.Music{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    bottom: 80px;
    right: 250px;
    overflow: hidden;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.Music img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
    
}

.OMusic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 50px;
    -webkit-text-stroke: 2px black;
}

.Title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    top: 40px;
    position: fixed;
    text-shadow: 2px 2px 5px white;
}

.NCII{
    width: 300px;
    height: 300px;
    position: fixed;
    border-radius: 15%;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
    display: flex;
    overflow: hidden;
    top: 200px;
    right: 620px;
}

.NCII img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

.NC{
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: bold;
    position: fixed;
    bottom: 150px;
}

.NC1{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    bottom: 120px;
}

.Skill{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 10px white,
                 0 0 20px white,
                 0 0 30px white;
    color: white;
    top: 40px;
    position: fixed;
}

.HTML{
    width: 300px;
    height: 300px;
    border-radius: 15%;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
    position: fixed;
    overflow: hidden;
    top: 250px;
    left: 100px;
}

.HTML img{
    display: block;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.OHTML{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 25px;
    text-shadow: 2px 2px 5px black ;
}

.CSS{
    width: 300px;
    height: 300px;
    border-radius: 15%;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
    position: fixed;
    overflow: hidden;
    top: 250px;
    left: 440px;
}

.CSS img{
    display: block;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.OCSS{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 25px;
    text-shadow: 2px 2px 5px black ;
}

.JavaScript{
    width: 300px;
    height: 300px;
    border-radius: 15%;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
    position: fixed;
    overflow: hidden;
    top: 250px;
    right: 440px;
}

.JavaScript img{
    display: block;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.JS{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 25px;
    text-shadow: 2px 2px 5px black ;
}

.Java{
    width: 300px;
    height: 300px;
    border-radius: 15%;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
    position: fixed;
    overflow: hidden;
    top: 250px;
    right: 100px;
}

.Java img{
    display: block;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.OJAVA{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 25px;
    text-shadow: 2px 2px 5px black ;
}

.TitleP{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    top: 40px;
    position: fixed;
    text-shadow: 2px 2px 5px white;
}

.MONI{
    width: 300px;
    height: 300px;
    position: fixed;
    border-radius: 15%;
    overflow: hidden;
    top: 200px;
    right: 200px;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.MONI img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.ATM{
    width: 300px;
    height: 300px;
    position: fixed;
    border-radius: 15%;
    overflow: hidden;
    top: 200px;
    left: 200px;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.ATM img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.System2{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 10px white,
                 0 0 20px white,
                 0 0 30px white;
    margin-top: 350px;            
    margin-right: 825px;
}

.MEM2{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 10px white,
                 0 0 20px white,
                 0 0 30px white;
    position: fixed;
    top: 600px;
    left: 210px;
}

.LABEL2{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 10px white,
                 0 0 20px white,
                 0 0 30px white;
    position: fixed;
    top: 570px;
    left: 290px;
}

.LABEL1{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 10px white,
                 0 0 20px white,
                 0 0 30px white;
    position: fixed;
    top: 570px;
    right: 290px;
}

.System1{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 10px white,
                 0 0 20px white,
                 0 0 30px white;
    position: fixed;
    top: 525px;
    right: 225px;
}

.MEM1{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 10px white,
                 0 0 20px white,
                 0 0 30px white;
    position: fixed;
    top: 600px;
    right: 180px;
}

.TitleC{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    top: 40px;
    position: fixed;
    text-shadow: 2px 2px 5px white;
}

.Gmail{
    width: 300px;
    height: 300px;
    border-radius: 15%;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
    position: fixed;
    top: 250px;
    right: 180px;
    overflow: hidden;
}

.Gmail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

.Facebook{
    width: 300px;
    height: 300px;
    border-radius: 15%;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
    position: fixed;
    top: 250px;
    left: 180px;
}

.Facebook img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

.Github{
    width: 300px;
    height: 300px;
    border-radius: 15%;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
    position: fixed;
    top: 250px;
}

.Github img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

@media (max-width: 768px){
    
    .Icon{
        width: 12vw;
        height: 12vw;
        top: 5vw;
        right: 5vw;
    }

    .Contact, .Projects, .Skills, .Achievement, .About{
        display: none;
    }

    .home-icon{
        top: 5vw;
        left: 5vw;
    }

    .Fname{
        font-size: 10vw;
        top: 40vw;
        left: 10vw;
    }

    .Sname{
        font-size: 10vw;
        top: 50vw;
        left: 10vw;
    }

    .Picture img{
        width: 80vw;
        height: 80vw;
        top: 65vw;
        left: 10vw;
    }

    .Int h3{
        font-size: 10vw;
        top: 25vw;
        left: 5vw;
    }

    .Course{
        font-size: 8vw;
        top: 150vw;
        left: 21vw;
    }
    
    .Dec{
        font-size: 4vw;
        top: 160vw;
        left: 24vw;
        width: 50vw;
        margin: auto;
        text-align: center;
    }

    .btn{
        top: 185vw;
        left: 30vw;
        width: 60vw;
        height: 15vw;
        text-align: center;
    }

    .container{
        height: fit-content;
        width: 100%; 
        display: flex;
        flex-direction: column;
    }

    .mobile-menu{
        display: none;
        position: fixed;
        top: 15px;
        right: 70px;
        background: rgba(0,0,0,0.8);
        padding: 15px;
        border-radius: 10px;
        z-index: 1000;
    }

    .mobile-menu.show{
        display: block;
    }

    .mobile-menu a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px;
    }
    
    .AContainer{
        width: 90vw;
        height: 140vw;
        left: 5vw;
        border-radius: 14vw;
        top: 10vw;
    }

    .AContainer p{
        width: 90vw;
        height: 20vw;
        text-align: justify;
        left: 15vw;
        position: static;
        margin-top: 0;
    }

    .AContainer h4{
        margin-top: 10w;
        margin-bottom: 4vw;
    }

    .AEducation{
        text-align: center;
        font-size: 5vw;
        position: relative;
        top: 165vw;
        right: 0;
        left: 0;
    }

    .Elementary{
        width: 50vw;
        height: 50vw;
        position: relative;
        top: 170vw;
        left: 0;
        right: 0;
    }

    .JuniorHigh{
        width: 50vw;
        height: 50vw;
        position: relative;
        top: 175vw;
        left: 0;
        right: 0;
    }

    .SeniorHigh{
        width: 50vw;
        height: 50vw;
        position: relative;
        top: 180vw;
        left: 0;
        right: 0;
    }

    .College{
        width: 50vw;
        height: 50vw;
        position: relative;
        top: 185vw;
        left: 0;
        right: 0;
    }

    .AHobbies{
        text-align: center;
        font-size: 5vw;
        position: relative;
        top: 200vw;
        right: 0;
        left: 0;
    }

    .Sports{
        width: 50vw;
        height: 50vw;
        position: fixed;
        top: 410vw;
        right: 0;
        left: 25vw;
    }

    .VideoGames{
        width: 50vw;
        height: 50vw;
        position: fixed;
        top: 465vw;
        right: 0;
        left: 25vw;
    }

    .Music{
        width: 50vw;
        height: 50vw;
        position: fixed;
        top: 520vw;
        right: 0;
        left: 25vw;
    }
    
    .Title{
        font-size: 5vw;
        text-align: center;
        top: 385vw;
    }

    .NCII{
        width: 50vw;
        height: 50vw;
        position: relative;
        top: 327vw;
        left: 0;
        right: 0;
    }
    .NC{
        font-size: 5vw;
        text-align: center;
        position: relative;
        top: 330vw;
    }

    .NC1{
        font-size: 3vw;
        text-align: center;
        position: relative;
        top: 332vw;
    }

    .Skill{
        font-size: 7vw;
        text-align: center;
        top: 270vw;
    }

    .HTML{
        width: 50vw;
        height: 50vw;
        position: fixed;
        top: 285vw;
        right: 0;
        left: 25vw;
    }

    .CSS{
        width: 50vw;
        height: 50vw;
        position: fixed;
        top: 340vw;
        right: 0;
        left: 25vw;
    }

    .JavaScript{
        width: 50vw;
        height: 50vw;
        position: fixed;
        top: 395vw;
        right: 0;
        left: 25vw;
    }

    .Java{
        width: 50vw;
        height: 50vw;
        position: fixed;
        top: 450vw;
        right: 0;
        left: 25vw;
    }

    .TitleP{
        font-size: 6vw;
        text-align: center;
        position: relative;
        top: 270vw;
    }

    .MONI{
        width: 50vw;
        height: 50vw;
        position: relative;
        top: 280vw;
        right: 0;
        left: 0;
    }

    .System1{
        font-size: 5vw;
        text-align: center;
        position: fixed;
        width: 60vw;
        top: 390vw;
        left: 20vw;
        right: 0;
    }

    .LABEL1{
        font-size: 5vw;
        text-align: center;
        position: fixed;
        width: 60vw;
        top: 407vw;
        left: 20vw;
        right: 0;
    }

    .MEM1{
        font-size: 5vw;
        text-align: center;
        position: fixed;
        width: 70vw;
        top: 413vw;
        left: 15vw;
        right: 0;
    }

    .ATM{
        width: 50vw;
        height: 50vw;
        position: relative;
        top: 330vw;
        right: 0;
        left: 0;
    }

    .System2{
        font-size: 5vw;
        text-align: center;
        position: fixed;
        width: 60vw;
        top: 395vw;
        left: 20vw;
        right: 0;
    }

    .LABEL2{
        font-size: 5vw;
        text-align: center;
        position: fixed;
        width: 60vw;
        top: 505vw;
        left: 20vw;
        right: 0;
    }

    .MEM2{
        font-size: 5vw;
        text-align: center;
        position: fixed;
        width: 70vw;
        top: 512vw;
        left: 15vw;
        right: 0;
    }

    .TitleC{
        font-size: 6vw;
        text-align: center;
        position: relative;
        top: 310vw;
    }

    .Facebook{
        width: 50vw;
        height: 50vw;
        position: relative;
        top: 320vw;
        right: 0;
        left: 0;
    }

    .Github{
        width: 50vw;
        height: 50vw;
        position: relative;
        top: 325vw;
        right: 0;
        left: 0;
    }

    .Gmail{
        width: 50vw;
        height: 50vw;
        position: relative;
        top: 330vw;
        right: 0;
        left: 0;
    }
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

section{
    transform: translateY(1px);
   
}

