*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: black;
    overflow-x: hidden;
    height: 100vh;
    color: white;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.container{
    background: rgba(17, 4, 157, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Icon{
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.Icon img{
    width: 150%;
    height: 100%;
    object-fit: contain;
}

.Contact{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 42px;
    right: 95px;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.Contact:hover{
    color: cyan;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
    background-color: rgba(128, 128, 128, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.Projects{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 42px;
    right: 170px;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.Projects:hover{
    color: cyan;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
    background-color: rgba(128, 128, 128, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.Skills{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 42px;
    right: 250px;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.Skills:hover{
    color: cyan;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
    background-color: rgba(128, 128, 128, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.Achievement{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 42px;
    right: 310px;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.Achievement:hover{
    color: cyan;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
    background-color: rgba(128, 128, 128, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.About{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 42px;
    right: 425px;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.About:hover{
    color: cyan;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
    background-color: rgba(128, 128, 128, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.home-icon{
    position: fixed;
    top: 38px;
    left: 20px;
    z-index: 1000;
}

.home-icon img{
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
}

.Int h3{
    font-size: 50px;
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px white;
    top: 150px;
    left: 80px;
    position: fixed;
}

.Fname{
    color: white;
    top: 250px;
    left: 160px;
    position: fixed;
    text-shadow: 0 0 15px white, 0 0 30px white;
    font-size: 80px;
}

.Sname{
    color: white;
    top: 340px;
    left: 160px;
    position: fixed;
    text-shadow: 0 0 15px white, 0 0 30px white;
    font-size: 80px;
}

.Course{
    color: white;
    top: 450px;
    left: 120px;
    position: fixed;
    text-shadow: 0 0 15px white, 0 0 30px white;
    font-size: 40px;
}

.Dec{
    top: 500px;
    left: 120px;
    position: fixed;
    color: white;
    font-size: 20px;
}

.btn{
    position: absolute;
    bottom: 40px;
    left: 150px;
    transform: translateX(-50%);
    display: inline-block;
    padding: 14px 35px;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.4s ease;
    box-shadow: 0 0 15px #00ff66;
}

.btn:hover{
    background: white;
    color: black;
    box-shadow: 0 0 25px white;
}

.Picture img{
    width: 500px;
    height: 500px;
    border-radius: 15%;
    border: 4px solid #01f5ed;
    box-shadow: 0 0 10px #01f5ed,
                0 0 20px #01f5ed,
                0 0 30px #01f5ed;
    right: 50px;
    position: fixed;
    top: 150px;
}

.mobile-menu{
    display: none;
}

.AContainer{
    width: 500px;
    height: 500px;
    background: transparent;
    border: 4px solid cyan;
    border-radius: 15%;
    box-shadow: 0, 0, 10px cyan,
                0, 0, 20px cyan,
                0, 0, 30px cyan;
    position: fixed;
    left: 40px;
}

.AContainer p{
    text-align: justify;
    line-height: 1.8;
    width: 450px;
    left: 60px;
    position: fixed;
    text-indent: 40px;
    font-weight: bold;
    font-size: 1.8;
    padding: 20px;
    color: white;
}

.AContainer h4{
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
}

.AEducation{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    top: 60px;
    right: 720px;
    position: fixed;
}

.Elementary{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    top: 120px;
    right: 710px;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.Elementary img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 25px;
    display: block;
}

.OElementary{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 25px;
    text-shadow: 2px 2px 5px black ;
}

.JuniorHigh{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    top: 120px;
    right: 480px;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.JuniorHigh img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.OJunior{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 25px;
    text-shadow: 2px 2px 5px black ;
}

.SeniorHigh{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    top: 120px;
    right: 250px;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.SeniorHigh img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.OSenior{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 25px;
    text-shadow: 2px 2px 5px black ;
}

.College{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    top: 120px;
    right: 20px;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.College img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.OCollege{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 25px;
    text-shadow: 2px 2px 5px black ;
}

.AHobbies{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    top: 400px;
    right: 820px;
    position: fixed;
}

.Sports{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    bottom: 80px;
    right: 710px;
    overflow: hidden;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.Sports img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

.OSports{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-weight: bold;
    opacity: 0;
    transition: .3s;
    font-size: 50px;
    -webkit-text-stroke: 2px black;
}

.Sports:hover, .OSports{
    opacity: 1;
}

.VideoGames{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    bottom: 80px;
    right: 480px;
    overflow: hidden;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.VideoGames img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    display: block;
}

.OVid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 50px;
    -webkit-text-stroke: 2px white;
}

.Music{
    width: 200px;
    height: 200px;
    border: 4px solid cyan;
    border-radius: 15%;
    position: fixed;
    bottom: 80px;
    right: 250px;
    overflow: hidden;
    box-shadow: 0 0 10px cyan,
                0 0 20px cyan,
                0 0 30px cyan;
}

.Music img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
    
}

.OMusic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-weight: bold;
    opacity: 1;
    transition: .3s;
    font-size: 50px;
    -webkit-text-stroke: 2px black;
}

@media (max-width: 768px){

    .Icon{
        width: 50px;
        height: 50px;
        top: 15px;
        right: 70px;
    }

    .Contact, .Projects, .Skills, .Achievement, .About{
        display: none;
    }

    .home-icon{
        top: 20px;
        left: 20px;
    }

    .Fname{
        font-size: 25px;
        top: 150px;
        left: 40px;
    }

    .Sname{
        font-size: 25px;
        top: 180px;
        left: 40px;
    }

    .Picture img{
        width: 300px;
        height: 300px;
        top: 220px;
        left: 30px;
    }

    .Int h3{
        font-size: 30px;
        top: 100px;
        left: 20px;
    }

    .Course{
        font-size: 25px;
        top: 550px;
        left: 90px;
    }
    
    .Dec{
        font-size: 16px;
        top: 580px;
        left: 90px;
        width: 180px;
        margin: auto;
        text-align: center;
    }

    .btn{
        top: 680px;
        left: 100px;
        width: 170px;
        height: 70px;
        text-align: center;
    }

    .container{
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu{
        display: none;
        position: fixed;
        top: 15px;
        right: 70px;
        background: rgba(0,0,0,0.8);
        padding: 15px;
        border-radius: 10px;
        z-index: 1000;
    }

    .mobile-menu.show{
        display: block;
    }

    .mobile-menu a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    .Prof-men{
        cursor: pointer;
    }
}

#stars{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.scroll-indicator{
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.content{
    max-width: 700px;
    animation: fadeIn 2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-65px);
}

.arrow{
    color: #00ff66;
    font-size: 40px;
    line-height: 20px;
    text-shadow: 0 0 10px #00ff66,  0 0 20px #00ff66,  0 0 40px #00ff66;
    animation: glow 1.5s infinite alternate;
}

.arrow:nth-child(2){
    animation-delay: 0.2s;
}

.arrow:nth-child(3){
    animation-delay: 0.4s;
}

h1{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 15px;
    text-shadow: 0 0 15px white;
}

h2{
    font-size: 28px;
    margin-bottom: 50px;
    color: #d9d9d9;
    font-weight: normal;
}

p{
    font-size: 18px;
    line-height: 1.8;
    color: #bfbfbf;
    margin-bottom: 20px;
}

html{
    scroll-behavior: smooth;
}

.Education{
    text-align: center;
    color: white;
    padding: 50px 20px;
    background: transparent;
}

.Education h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.Education .box{
    width: 90%;
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 25px;
    background: rgba(0, 0, 0, 0.4);
    border: 3px solid #39ff14;
    border-radius: 20px;
    color: white;
    box-shadow: 0 0 10px #39ff14,
                0 0 20px #39ff14,
                0 0 30px #39ff14;
}

.Education .box h3{
    margin-bottom: 10px;
    font-size: 24px;
}

.Education .box p{
    font-size: 18px;
    line-height: 1.6;
}
.about{
    text-align: center;
    padding: 50px 20px;
}

.about-container{
    width: 95%;
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #00ff00;
    border-radius: 15px;
    box-shadow: 0 0 15px #00ff00;
}

.about-container p{
    text-align: justify;
    line-height: 1.8;
}

.about-container h4{
    margin-bottom: 30px;
}

.skills{
    min-height: 100vh;
    background: transparent;
    padding: 80px 20px;
    text-align: center;
}

.skills-title{
    font-size: clamp(35px, 8vw, 70px);
    color: white;
    margin-bottom: 50px;
    text-shadow: 0 0 20px white;
}

.skills-card{
    width: 100%;
    max-width: 700px;
    margin: 40px auto;
    padding: 40px;
    border: 2px solid #39ff14;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(255, 60, 60, 0.4);
    transition: 0.4s ease;
}

.skills-card:hover{
    transform: translateY(-5px);
    box-shadow: 
        0 0 20px #39ff14,
        0 0 60px #39ff14,
        0 0 80px #39ff14
    ;
}

.skills-card img{
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}

.skills-card h2{
    margin-top: 20px;
    color: white;
}

.hobby{
    min-height: 100vh;
    background: transparent;
    padding: 80px 20px;
    text-align: center;
}

.hobby-title{
    font-size: clamp(35px, 8vw, 70px);
    color: white;
    margin-bottom: 50px;
    text-shadow: 0 0 20px white;
}

.hobby-card{
    width: 100%;
    max-width: 700px;
    margin: 40px auto;
    padding: 40px;
    border: 2px solid #39ff14;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(255, 60, 60, 0.4);
    transition: 0.4s ease;
}

.hobby-card:hover{
    transform: translateY(-5px);
    box-shadow: 
        0 0 20px #39ff14,
        0 0 60px #39ff14,
        0 0 80px #39ff14
    ;
}

.hobby-card img{
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}

.hobby-card h2{
    margin-top: 20px;
    color: white;
}

.Certificates{
    min-height: 100vh;
    padding: 100px 20px;
    text-align: center;
    background: transparent;
}

.Certificates h1{
    font-size: clamp(35px, 8vw, 70px);
    color: #d8b44a;
    margin-bottom: 50px;
    text-shadow: 0 0 20px #d8b44a;
}

.Certificates p{
    color: #d0d0d0;
    margin-bottom: 5px;
}

.Certificates h3{
    margin-top: 0;
    margin-bottom: 50px;
}

.cert-card{
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 0;
    text-align: left;
    border: 2px solid #d8b44a;
    background: rgba(40, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(216, 180, 74, .4), 0 0 30px rgba(216, 180, 74, .2);
    position: relative;
    overflow: hidden;
    height: 100px;
}

.proj-card{
    width: 700px;
    max-width: 90%;
    margin: auto;
    padding: 5px;
    text-align: left;
    border: 2px solid #d8b44a;
    background: rgba(40, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(216, 180, 74, .4), 0 0 30px rgba(216, 180, 74, .2);
    position: relative;
    overflow: hidden;
    height: 100px;
}

.cert-card img{
    width: 100%;
    height: auto;
    display: block;
    object-fit:  cover;
    animation : scrollCert 12s ease-in-out infinite alternate;
    position: relative
}

.proj-card img{
    width: 100%;
    height: auto;
    display: block;
    object-fit:  cover;
    animation : scrollCerts 12s ease-in-out infinite alternate;
    position: relative
}

.year{
    color: #d8b44a;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cert-card h2{
    color: white;
    margin-bottom: 20px;
}

.cert-card h3{
    color: #ff5a5a;
    margin-top: 20px;
}

.socials{
    min-height: 100vh;
    text-align: center;
    padding: 100px 20px;
    background: transparent;
}

.socials h1{
    font-size: 60px;
    color: #39ff14;
    text-shadow: 0 0 20px #39ff14;
}

.socials p{
    color: #ccc;
    margin-bottom: 50px;
}

.social-con{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.social-card{
    width: 180px;
    padding: 25px;
    text-decoration: none;
    color: white;
    border: 2px solid #39ff14;
    border-radius: 20px;
    box-shadow: 0 0 10px #39ff14,
                0 0 20px rgba(57, 255, 20, .5);
    transition: .3s;
}

.social-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px #39ff14,
                0 0 40px #39ff14;
}

.social-card img{
    width: 70px;
    margin-bottom: 15px;
}

.social-card span{
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.Prof{
    width: 180px;
    height: 180px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #39ff14;
    box-shadow: 0 0 10px #39ff14,
                0 0 20px #39ff14,
                0 0 30px #39ff14;
}

.Prof img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name{
    font-size: clamp(35px, 8vw, 70px);
    color: white;
    margin-bottom: 50px;
    text-shadow: 0 0 20px white;
}

section{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

.cert-card{

}

@keyframes glow{
    from{
        opacity: 0.5s;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadein{
    from{
        opacity: 0;
        transform: translateY(35px);
    }
    to{
        opacity: 1;
        transform: translateY();
    }
}

@keyframes scrollCert{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-50%);
    }
}

@keyframes scrollCerts{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-50%);
    }
}

@media (max-width: 768px){
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 22px;
    }
    p{
        font-size: 16px;
    }
}

@media (max-width: 768px){
    .cert-card{
        width: 90%;
        height: 180px;
    }
    .cert-card img{
        animation: none;
    }
    .proj-card img{
        animation: none;
    }
}

